/* Animation keyframes */
@-webkit-keyframes theyseemerollin {
    0% {transform: rotate(0deg);}
    33% {transform: rotate(130deg);}
    66% {transform: rotate(230deg);}
    100% {transform: rotate(360deg);}
}
@keyframes theyseemerollin {
    0% {transform: rotate(0deg);}
    33% {transform: rotate(130deg);}
    66% {transform: rotate(230deg);}
    100% {transform: rotate(360deg);}
}


/* Generic style */

body {
    margin: 0px;
}

section, footer {
    display: none;
    overflow: hidden;
    width:75%;
    margin:auto;
    font-family:"Lato";
}

#placeholder {
    height:96px;
}

section h2 {
    text-align:center;
    padding:30px;
    padding-top: 50px;
    font-size:210%;
}

a, a:visited {
    color:#5c5c5c;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

/* Logo base */

.letter {
    width:150px;
    height:150px;
    background:black;
    border-radius:100px;
    color:white;
    font-family:'Lobster Two';
    text-align:center;
    font-size:700%;
    float:left;
}

.name {
    font-family:'Raleway';
    font-size:350%;
    padding-top:8px;
    padding-left:20px;
    letter-spacing:1.5px;
    font-weight: 300;
    color:black;
}

/* Loading screen */

#loading {
    display: block;
    height: 100vh;
}

#loading .logo {
    width:150px;
    height:150px;
    margin:auto;
    padding-top:16%;
    padding-bottom: 15%;
}

#loading .letter {
    -webkit-animation: theyseemerollin 1.5s linear infinite;
    animation: theyseemerollin 1.5s linear infinite;
}

#loading .name {
    opacity: 0;
    overflow: hidden;
}

/* Navbar style */

#navbar {
    width:75%;
    padding-top:10px;
    padding-right:12.5%;
    padding-left:12.5%;
    padding-bottom:10px;
    font-family:"Roboto";
    box-shadow:0px 2px 5px black;
    position:fixed;
    background:white;
}

#navbar .logo {
    float:left;
}

#navbar .letter {
    width:70px;
    height:70px;
    font-size:320%;
}

#navbar .name {
    font-size:150%;
    padding-left:80px;
}

#navbar ul {
    display:inline;
    font-size:150%;
    float:right;
}

#navbar li {
    display:inline;
    padding-left:20px;
}

#navbar a:hover {
    text-decoration:none;
}

/* Head style */

#head {
    background:#6AAA94;
    width:75%;
    padding-top:10px;
    padding-bottom:30px;
    padding-right:12.5%;
    padding-left:12.5%;
}

#head h1 {
    text-align: center;
    font-size: 300%;
    color: white;
    font-weight: 200;
    margin-bottom: 20px;
}

#head .subtitle {
    height: 30px;
    font-size: 30px;
    color: white;
    text-align: center;
}

/* About style */

#about .photo {
    width:230px;
    height:230px;
    border-radius:100%;
    background:url('../assets/people/me.jpg');
    background-size:100% !important;
    float:left;
    margin-right:20px;
}

#about p {
    font-size: 110%;
}

/* Recommendations style */

#recommendations {
    float: none;
    height: 100%;
}


#recommendations img {
    width:8%;
    margin-right:20px;
    border-radius:100%;
}

#recommendations div {
    display:inline-block;
    margin-bottom:20px;
}

#recommendations .person {
    text-align:right;
    font-style:italic;
    padding-right:10px;
}

#recommendations div:nth-child(2n) img {
    float:left;
}

#recommendations div:nth-child(2n+1) img {
    float:right;
}

#recommendations div:nth-child(2n+1) .person {
    padding-right: 100px;
}

/* Experiences style */

#experiences .line {
    text-align:center;
    margin-bottom:30px;
}

#experiences article {
    width:22.1%;
    display:inline-block;
    margin-left:3%;
    margin-right:3%;
    vertical-align:top;
    text-align:center;
}

#experiences article img {
    max-width:100%;
    max-height:200px;
}

#experiences article div {
   /* I'm containing an image! */
    height:200px; /* Fixed height so the text is at the same level for each block */
    text-align:center;
}

/* Projects style */

#projects .line {
    text-align:center;
    margin-bottom:70px;
}

#projects article {
    width:22.1%;
    display:inline-block;
    margin-left:3%;
    margin-right:3%;
    vertical-align:top;
    text-align:center;
}

#projects article img {
    max-width:100%;
    max-height:200px;
    border-radius: 100px;
}

#projects article div {
   /* I'm containing an image! */
    height:200px; /* Fixed height so the text is at the same level for each block */
    text-align:center;
}

#projects .tech:before {
    content: "Technologies: ";
    font-weight: bold;
}

/* Talks style */

#talks .line {
    text-align:center;
    margin-bottom:10px;
}

#talks article {
    width:22.1%;
    display:inline-block;
    margin-left:3%;
    margin-right:3%;
    vertical-align:top;
    text-align:center;
}

#talks article img {
    max-width:100%;
    max-height:200px;
}

#talks article div {
   /* I'm containing an image! */
    height:200px; /* Fixed height so the text is at the same level for each block */
    text-align:center;
}

/* Contact form style */

#contact p {
    text-align: center;
    padding-bottom: 20px;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
    /* This is a copy-paste from the style at
    https://www.trancendances.fr/contact */
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: white;
    font-family: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 1em;
    margin: 0 0 1.14286em 0;
    padding: 0.57143em;
    height: 2.64286em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

#contact label, #contact p {
    font-size: 120%;
}

#contact #form_status {
    text-align: center;
}

#contact #form_name {
	width: 50%;
	float: left;
}

#contact #form_addr {
	width: 49%;
	float: right;
}

#contact #form_text #form_text_textarea {
	height: 150px;
}

#contact #form_subm {
    text-align: right;
}

#contact #form_subm_btn {
    font-size: 110%;
}

/* Footer style */

footer {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

/* Replacing Bootstrap's CSS */
.collapse {
    display:none;
}
.collapse.in {
    display:block;
}
.collapsing {
    position: relative;
    height: 0px;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: 0.35s;
    transition-property: height, visibility;
}
.btn, #form_subm_btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default, #form_subm_btn {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
