#about
  text-align: center;
  width: 80%;
  margin: auto;
  
  h1
    margin-bottom: 70px
  
  img
    width 230px
    height 230px
    border-radius 100%
    margin-right 20px
    float: left
  
  p
    text-align: left;
  
  .moz
    width 160px
    height 160px
    border-radius 100%
    margin-right 40px
    margin-top 30px  
    float: right
  
  .oss
    margin-top: 60px
    text-align: center;
    
  a, a#visited
    color: black