body  
  .content
    font-family:"Lato";
    font-size: 1.2em
  
  header
    font-family: 'Roboto'
    padding 15px
    background: #fff
    
    #navbar
      margin: auto
      width: 75%

      a
        margin 0 15px
        color: #000
        text-decoration: none
        
      .navlink
        font-size 2 em
        line-height 70px

      .logo
          float:left

      .letter
          width:70px
          height:70px
          font-size:320%
          background:black
          border-radius:100px
          color:white
          font-family:'Lobster Two'
          text-align:center
          float:left

      .name
          font-size:150%
          padding-left:80px
          font-family:'Raleway'
          padding-top:8px
          letter-spacing:1.5px
          font-weight: 300
          color:black