#about
  h1 About me
  
  img(src="images/people/swag-closer.jpg")
  
  p 
    | Hey there!<br>  
    | My name is <strong>Brendan Abolivier</strong>, and I'm a French student at <a href="http://www.isen.fr/">ISEN</a>, an engineering school located in Brest (France), where I mainly study <strong>computer and network related stuff</strong>.<br>
    | I'm a very <strong>curious</strong> guy, in every sense of the word. I love programming, systems administration, networks management, but I also have many interests outside of the IT field. I have some experience in volunteering, in music production, radio production, management... I'm even the <strong>co-founder</strong> (and current <strong>president</strong>) of a music-centered organisation named <strong><a href="http://www.trancendances.fr/">Trancendances</a></strong>.<br>
    | I'm very interested in <strong>discovering new people and practices</strong> (I love attending to conferences), new aspects of the fields I'm already playing in, or even <strong>new domains</strong> I don't have any relation with.<br>
    | Back to IT, I've always been curious about how these <strong>new technologies</strong> we're living with more and more are working and interacting with our lifestyle. I also am involved in <strong>open-source communities</strong>, actively contributing to free software projects such as <a href="https://www.cozy.io/">Cozy</a>.

  img.moz(src="images/people/me.jpg")

  p.oss
    | So far, <strong>open-source software</strong> has been an important part of my life. I'm a <strong>member of the <a href="https://www.fsf.org/">Free Software Foundation</a></strong> and I strongly believe in the 4 freedom of free software (run, study, redistribute and improve).
    | I made my first steps in open-source <strong>contributions</strong> during my internship in the startup <strong>Cozy</strong>, working on a project I still contribute to. Since then, I've contributed, either by feedback or code, to project such as <strong><a href="https://github.com/bnjbvr/kresus">kresus</a></strong>, <strong><a href="https://brave.com/">Brave</a></strong> or the <strong><a href="https://12mars.rsf.org/2016-en/">Collateral Freedom</a></strong> initiative by <strong>Reporters Without Borders</strong>.
    | I'm also working on some of <strong>Trancendances's own open-source projects</strong>, such as <a href="https://github.com/Trancendances/hermes">Hermes</a>, a soon-to-be powerful bulk email sender.
    | You'll be able to find some of these contributions in the <a href="#contributions">corresponding section</a>.