section#navbar
  a(href="#")
    .logo
      .letter B
      .name 
        | Brendan
        br
        | Abolivier
  a.navlink(href="#") Home
  a.navlink(href="#about") About me
  a.navlink(href="#projects") Projects
  a.navlink(href="#contributions") Contributions
  a.navlink(href="#talks") Talks
  a.navlink(href="#contact") Contact
  a.navlink(href="http://static.brendanabolivier.com/cv.pdf",target="blank") CV
  
