#home
  img(src="images/people/me.jpg")
  h1 Brendan Abolivier
  p#swappingtext
  a(href="https://twitter.com/BrenAbolivier") Twitter
  |&nbsp;/&nbsp;
  a(href="https://keybase.io/BrenAbolivier") Keybase